input {
    width: 36ch;
    box-sizing: content-box;
    margin-right: 5px;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #f74c4c;
    border-radius: 4px;
    margin-right: 4px;
}
nav a:visited, a:link {
    color: #edeaea;
}
nav a:hover {
    color: #edeaea;
    background-color: #f40404
}
